.menuzord-brand img{
    max-height: 60px;
    margin-top:-25px;

}
.img-icon-box::before{
   background-color: rgba(115, 160, 50, 1);
}

.entry-header .entry-meta {
    display: none;
}

.entry-header:hover .entry-meta {
    display: block;
}

.bg-theme-colored {
    background-color: #ff853f !important;
}
.bg-orange{
    background-color: #ff853f !important;
}