@import url(../../../../fonts.googleapis.com/css@family=Open+Sans_3A400,700,600);

* {
	filter: none;
}

/* http://meyerweb.com/eric/tools/css/neset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	padding-left:10%;
	padding-bottom:1%;
	padding-top:1%;
}
strong {
	font-weight: bold;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

/**  MAIN STYLES  **/

@font-face {
    font-family: 'entypo';
    src: url('../_40font-face/entypo.eot');
    src: url('../_40font-face/entypo.eot@#iefix') format('embedded-opentype'),
         url('../_40font-face/entypo.woff') format('woff'),
         url('../_40font-face/entypo.ttf') format('truetype'),
         url('../_40font-face/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
	height: 100%;
}

body {
	margin:0;
	padding: 0;
	height: 100%;
	font-family: arial;
	font-size: 12px;
	background: #f7f7f7;
	overflow-x: hidden;
	color: #3B3E40;
}

p {
	margin: 0 0 10px 0;
	line-height: 15px;
}

a:link, a:active, a:visited {
	text-decoration: none;
	color: #5daced;
}

*:focus {
	border: none;
	outline: none;
}

input[type="text"], input[type="email"], input[type="search"], input[type="password"], textarea {
	-webkit-appearance: none;
	background: #fff;
}

input, textarea {
	padding:10px;
	font-size: 12px;
	font-family: Arial;
	color:#606060;
	border:1px solid #e3e3e3;
	background: #fff;
	width: 100%;
	margin: 0 0 15px 0;
	
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

input:focus, textarea:focus {
	border: 1px solid #5DACED;
	
	box-shadow: inset 0 0 8px rgba(93, 127, 237, 0.3);
	-moz-box-shadow: inset 0 0 8px rgba(93, 127, 237, 0.3);
	-webkit-box-shadow: inset 0 0 8px rgba(93, 127, 237, 0.3);
}

#quick_post {
	border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
}

header.main {
	background: #208ed3; /* Old browsers */
	background: -moz-linear-gradient(top, #208ed3 0%, #0272bd 100%); /* FF3.6+ */
	background: -	webkit-gradient(linear, left top, left bottom, color-stop(0%,#208ed3), color-stop(100%,#0272bd)); /* Chrome,Safari4+ */ 
	background: -webkit-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* Chrome10+,Safari5.1+ */ 
	background: -o-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* Opera 11.10+ */ 
	background: -ms-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* IE10+ */ 
	background: linear-gradient(to bottom, #208ed3 0%,#0272bd 100%); /* W3C */ 
	padding: 15px 25px;
	height: 30px;
	overflow: hidden;
	border-bottom: 1px solid #5daced;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	position: relative;
	top: 0;
	width: 100%;
	height: 60px;
	z-index: 1000;
}

header h1 {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	letter-spacing: -1px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	float: left;
	width: 100%;
}

header h1 strong {
	font-weight: 600;
}

header input {
	float: right;
	border: none;
	padding: 5px 10px;
	width: 20%;
	color: #8a8a8a;
	margin: -20px 0 0 0;
	
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}

header input:focus {
	border: none;
	outline: none;
}

section.content {
	margin: 25px 0 0 1%;
	padding: 25px;
	font-size: 18px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/**  ALERTS  **/

section.alert {
	border-bottom:  1px solid #e3e3e3;
	background: #e9e9e9;
	width: 100%;
	margin-top: -4px;
	padding: 5px 0 0 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position:  absolute;
	height: 68px;
	overflow: hidden;
}

section.alert button {
	right: 25px;
	margin: 17px 0 0 5px;
	float: right;
}

section.alert div, div.green {
	padding: 10px;
	position: relative;
	margin: 15px 25px 15px 235px;
	
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

div.green, div.orange, div.red {
	padding: 10px;
	position: relative;
	margin: 15px 0;
	
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

section.alert div p, div.green p, div.orange p, div.red p {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	margin: 0 10px 0 0;
	color: #fff;
}

section.alert .close, div.green .close, div.orange .close, div.red .close {
	font-family: "entypo";
	position: absolute;
	opacity: 0.3;
	top: 2px;
	font-size: 34px;
	cursor: pointer;
	right: 10px;
}

section.alert .green, div.green {
	border: 1px solid #719e37;
	background: #9bc747; /* Old browsers */ 
	background: -moz-linear-gradient(top, #9bc747 0%, #82bd42 100%); /* FF3.6+ */ 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9bc747), color-stop(100%,#82bd42)); /* Chrome,Safari4+ */ 
	background: -webkit-linear-gradient(top, #9bc747 0%,#82bd42 100%); /* Chrome10+,Safari5.1+ */ 
	background: -o-linear-gradient(top, #9bc747 0%,#82bd42 100%); /* Opera 11.10+ */ 
	background: -ms-linear-gradient(top, #9bc747 0%,#82bd42 100%); /* IE10+ */ 
	background: linear-gradient(to bottom, #9bc747 0%,#82bd42 100%); /* W3C */ 
}

section.alert .green a, div.green a {
	color: #4b6a2c;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
}

section.alert .orange, div.orange, button.orange {
	border: 1px solid #f09a2b;
	background: #FEAE46; /* Old browsers */
	background: -moz-linear-gradient(top, #FE962B 0%, #FEAE46 100%); /* FF3.6+ */ 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FE962B), color-stop(100%,#FEAE46)); /* Chrome,Safari4+ */ 
	background: -webkit-linear-gradient(top, #FE962B 0%,#FEAE46 100%); /* Chrome10+,Safari5.1+ */ 
	background: -o-linear-gradient(top, #FE962B 0%,#FEAE46 100%); /* Opera 11.10+ */ 
	background: -ms-linear-gradient(top, #FE962B 0%,#FEAE46 100%); /* IE10+ */ 
	background: linear-gradient(to bottom, #FE962B 0%,#FEAE46 100%); /* W3C */ 
}

section.alert .red, div.red, button.red {
	border: 1px solid #af2b1b;
	background: #bc3423; /* Old browsers */
	background: -moz-linear-gradient(top, #bc3423 0%, #cd4433 100%); /* FF3.6+ */ 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bc3423), color-stop(100%,#cd4433)); /* Chrome,Safari4+ */ 
	background: -webkit-linear-gradient(top, #bc3423 0%,#cd4433 100%); /* Chrome10+,Safari5.1+ */ 
	background: -o-linear-gradient(top, #bc3423 0%,#cd4433 100%); /* Opera 11.10+ */ 
	background: -ms-linear-gradient(top, #bc3423 0%,#cd4433 100%); /* IE10+ */ 
	background: linear-gradient(to bottom, #bc3423 0%,#cd4433 100%); /* W3C */ 
}

section.alert .red a, div.red a {
	color: #5f140b;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
}

section.alert .orange a, div.orange a {
	color: #b45900;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
}

section.user {
	border-bottom: 1px solid #2a2a2a;
	background:  #3B3E40;
	height: 66px;
	position: relative;
	height: 65px;
	width: 100%;
	z-index: 1000;
}

section.user .profile-img {
	display: table-cell;
	height: 65px;
	width: 310px;
	vertical-align: middle;
}

section.user .profile-img p {
	color: #fff;
	font-weight : bold;
	margin: 5px 0 0 75px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}

section.user img {
	position: absolute;
	border: 2px solid #f0f0f0;
	top: 50%;
	left: 20px;
	margin: -20px 0 0 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3)
				0 0 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); 
}

section.user .buttons {
	position: absolute;
	right: 25px;
	top: 15px;
	text-align: right;
}

section.user .buttons button {
	position: relative;
}

section.user .button .pip {
	display: block;
	background: #cd4433;
	padding: 2px 5px;
	position: absolute;
	top: -5px;
	right: -5px;
	width: auto;
	font-size: 9px;
	border: 1px solid #222;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.button.icon {
	font-family: "entypo";
	font-size: 14px;
	width: 10px;
}

button.ico-font {
	font-family: "entypo";
	font-size: 30px;
	line-height: 0px;
	padding: 17px 10px;
	margin: 0px 0 -14px 0;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	background: #208ed3;
	background: -moz-linear-gradient(top, #208ed3 0%, #0272bd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#208ed3), color-stop(100%,#0272bd));
	background: -webkit-linear-gradient(top, #208ed3 0%,#0272bd 100%);
	background: -o-linear-gradient(top, #208ed3 0%,#0272bd 100%);
	background: -ms-linear-gradient(top, #208ed3 0%,#0272bd 100%);
	background: linear-gradient(to bottom, #208ed3 0%,#0272bd 100%);
	opacity: 0;
}

.button, button {
	border: 1px solid #323537;
	padding: 10px 15px;
	color: #fff;
	position: relative;
	margin: 0 0 0 5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2); 
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
	z-index: 500;
	
	background: #4b4f51; /* Old browsers */
	 background: -moz-linear-gradient(top, #4b4f51 0%, #414547 100%); /* FF3.6+ */ 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b4f51), color-stop(100%,#414547)); /* Chrome,Safari4+ */ 
	background: -webkit-linear-gradient(top, #4b4f51 0%,#414547 100%); /* Chrome10+,Safari5.1+ */
	 background: -o-linear-gradient(top, #4b4f51 0%,#414547 100%); /* Opera 11.10+ */
	 background: -ms-linear-gradient(top, #4b4f51 0%,#414547 100%); /* IE10+ */ 
	background: linear-gradient(to bottom, #4b4f51 0%,#414547 100%); /* W3C */ 
	cursor: pointer;
}

.button a {
	color: #fff;
}

.user .blue {
	border: 1px solid #323537;
}

.blue {
	border: 1px solid #0f70ad;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	background: #208ed3; /* Old browsers */
	background: -moz-linear-gradient(top, #208ed3 0%, #0272bd 100%); /* FF3.6+ */ 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#208ed3), color-stop(100%,#0272bd)); /* Chrome,Safari4+ */ 
	background: -webkit-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* Chrome10+,Safari5.1+ */ 
	background: -o-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* Opera 11.10+ */ 
	background: -ms-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* IE10+ */ 
	background: linear-gradient(to bottom, #208ed3 0%,#0272bd 100%); /* W3C */
}

button.green {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	border: 1px solid #719e37;
	margin: 0;
	background: #9bc747; /* Old browsers */ 
	background: -moz-linear-gradient(top, #9bc747 0%, #82bd42 100%); /* FF3.6+ */ 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9bc747), color-stop(100%,#82bd42)); /* Chrome,Safari4+ */ 
	background: -webkit-linear-gradient(top, #9bc747 0%,#82bd42 100%); /* Chrome10+,Safari5.1+ */ 
	background: -o-linear-gradient(top, #9bc747 0%,#82bd42 100%); /* Opera 11.10+ */ 
	background: -ms-linear-gradient(top, #9bc747 0%,#82bd42 100%); /* IE10+ */ 
	background: linear-gradient(to bottom, #9bc747 0%,#82bd42 100%); /* W3C */ 
}

/**  WIDGETS **/

.widget-container {
	height: 1%;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.widget-container .small:first-child {
	float: left;
}

section.small {
	width: 49%;
	float: right;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

section.widget {
	background: #fff;
	border: 1px solid #e3e3e3;
	margin: 0 0 25px 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	min-height: 400px;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px; 
	box-shadow: 0 2px 2px rgba(204, 204, 204, 0.2);
	-webkit-box-shadow: 0 2px 2px rgba(204, 204, 204, 0.2);
	-moz-box-shadow: 0 2px 2px rgba(204, 204, 204, 0.2);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

section.widget header {
	background: #3B3E40;
	padding: 15px 25px;
	height: 35px;
	border-bottom: none;
	overflow: visible;
	
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
}

section.widget header span.icon {
	color: #fff;
	background: #208ed3;
	background: -moz-linear-gradient(top, #208ed3 0%, #0272bd 100%); 
	background: -	webkit-gradient(linear, left top, left bottom, color-stop(0%,#208ed3), color-stop(100%,#0272bd)); 
	background: -webkit-linear-gradient(top, #208ed3 0%,#0272bd 100%);
	background: -o-linear-gradient(top, #208ed3 0%,#0272bd 100%); 
	background: -ms-linear-gradient(top, #208ed3 0%,#0272bd 100%); 
	background: linear-gradient(to bottom, #208ed3 0%,#0272bd 100%);
	padding: 12px 0;
	font-size: 36px;
	width:39px;
	height: 15px;
	float: left;
	line-height: 16px;
	text-align: center;
	
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
}

section.widget header hgroup {
	float: left;
	margin: 0 0 0 15px;
}

section.widget header h1 {
	font-family: 'Open Sans', sans-serif;
	line-height: 23px;
	font-size: 16px;
}

section.widget header h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #5daced;
}		

section.widget header aside {
	font-family: "entypo";
	float: right;
}

section.widget header aside button.left-btn {
	font-family: "entypo";
	font-size: 30px;
	margin: 5px -1px 0 0;
	z-index: 50;
	border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	line-height: 10px;
}

section.widget header aside button.right-btn {
	font-family: "entypo";
	font-size: 30px;
	margin: 5px 0 0 0;
	z-index: 50;
	border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius:  0 5px 5px 0;
	line-height: 10px;
}

section.widget .content {
	padding: 25px;
}

section.widget header aside > span {
	display: block;
	background: #313131;
	padding: 4px 6px 6px 6px;
	color: white;
	font-size: 14px;
	border-top: 1px solid #1c1f23;
	border-bottom: 1px solid #4c4f56;
	margin: 7px 0 0 0;
	position: relative;
	
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

section.widget header aside span a {
	color: #fff;
		font-size: 35px;
	height: 20px;
	display: block;
	line-height: 22px;
}

section.widget  .content .stats-wrapper {
	overflow: hidden;
	height: 1%;
}

section.widget  .content .stats-wrapper .stats {
	background: #f7f7f7;
	border: 1px solid #e3e3e3;
	float: left;
	padding: 35px 25px;
	width: 48%;
	margin: 0 0 25px 0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

section.widget .content .stats-wrapper .stats:last-child {
	float: right;
}

section.widget .content .stats-wrapper:last-child div {
	margin: 0;
}

section.widget .stats span {
	font-size: 42px;
	color: #5daced;
	font-weight: 400;
	display: block;
	margin: 0 0 25px 0;
}

section.widget .content .stats-wrapper .stats p {
	margin: 0;
}

section.widget .content.no-padding {
	padding: 0;
}

.fixed {
	position: fixed;
}

/**  MENU  **/

nav {
	height: 100%;
	min-height: 100%;
	width: 210px;
	background: #3B3E40;
	float: left;
	position: relative;
	z-index: 500;
	
	box-shadow: inset -20px 0 10px -20px #000;
	-moz-box-shadow: inset -20px 0 10px -20px #000;
	-webkit-box-shadow: inset -20px 0 10px -20px #000;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li {
	background: #3B3E40;
	border-bottom: 1px solid #27292a;
	border-top: 1px solid #46494b;
	
	box-shadow: inset -20px 0 10px -20px #000;
	-moz-box-shadow: inset -20px 0 10px -20px #000;
	-webkit-box-shadow: inset -20px 0 10px -20px #000;	
}

nav ul li:first-child {
	border-top: none;
}

nav ul li:last-child {
	border-bottom: none;
}

nav ul li a {
	color: #fff !important;
	display: block;
	text-decoration: none;
	padding: 20px 15px 20px 5px;
	width: 190px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
	-moz-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
	-webkit-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
	position:relative;
}

nav ul li:hover, nav ul li.section {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	background: #208ed3; /* Old browsers */ 
	background: -moz-linear-gradient(top, #208ed3 0%, #0272bd 100%); /* FF3.6+ */ 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#208ed3), color-stop(100%,#0272bd)); /* Chrome,Safari4+ */ 
	background: -webkit-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* Chrome10+,Safari5.1+ */ 
	background: -o-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* Opera 11.10+ */ 
	background: -ms-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* IE10+ */ 
	background: linear-gradient(to bottom, #208ed3 0%,#0272bd 100%); /* W3C */ 
	border-top: 1px solid #5daced;
}

nav ul li a.section:hover {
	border: none;
}

span.icon {
	font-family: "entypo";
	color: white;
	font-size: 60px;
	display: inline-block;
	width: 70px;
	height: 20px;
	line-height: 30px;
	text-align: center;
}

/**  SUB MENU  **/

ul li ul.submenu {
	display: none;
	z-index: 500;
	top: 0;
	background: #313131;
}

ul li ul.submenu li {
	background: none;
	border-bottom: 1px solid #111;
	text-indent: 25px;
}

ul li ul.submenu li:first-child {
	box-shadow: inset 0 20px 10px -20px #000;
	-moz-box-shadow: inset 0 20px 10px -20px #000;
	-webkit-box-shadow: inset 0 20px 10px -20px #000;
}

ul li ul.submenu li:last-child {
	border-bottom: none;
}

ul li ul.submenu li a {
	background: none;
	padding: 13px;
	width: 189px;
}

ul li:hover ul.submenu li a {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}

ul li ul.submenu li a:hover, ul li ul.submenu li:first-child {
	border-top: none;
}

ul li ul.submenu li:hover {
	border-top: 1px solid #4e5153;
	background: #262626;
}

ul li ul.submenu li:hover:first-child {
	border-top: none;
}

.gallery {
	font-family: "entypo";
	font-size: 150px;
}

.gallery a {
	position: relative;
}

.gallery a span {
	position: absolute;
	top: 10px;
	left: 65px;
	color: #fff;
}

/**  PIPS  **/

.pip {
	display: block;
	background: #313131;
	padding: 3px 10px;
	position: absolute;
	top: 29px;
	right: 15px;
	color: white;
	text-align: center;
	font-size: 10px;
	border-top: 1px solid #1c1f23;
	border-bottom: 1px solid #4c4f56;
	line-height: 8px;
	height: 10px;
	
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}



.graph-area {
	width: 100%;
	height: 300px;
}



.dropdown:hover, button:hover, .button:hover {
	border: 1px solid rgba(0, 0, 0, .3);
	background: #313131;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	cursor: pointer;
}

.dropdown {
	display: inline-block;
}



.dropdown span.icon {
	margin-right: 5px;
	font-size: 22px;
	line-height: 14px;
}


section.widget header aside > span:hover {
	background: #f7f7f7;
	border: 1px solid #e3e3e3;
	border-bottom: 0;
	
	border-radius: 30px 30px 0 0;
	-webkit-border-radius: 30px 30px 0 0;
	-moz-border-radius: 30px 30px 0 0;
}

section.widget header aside span:hover a {
	color: #208ed3;
	font-size: 35px;
	height: 20px;
	display: block;
	line-height: 22px;
}

.widget .timeline {
	border-left: 1px solid #e3e3e3;
	margin: 25px 25px 2px 45px;
	position: relative;
}

.widget .timeline .pie {
	display: none;
}

.widget.small .tl-post {
	overflow: hidden;
	margin: 0 0 30px -24px;
	position: relative;
}

.tl-post {
	overflow: hidden;
	margin: 0 0 30px -24px;
	position: relative;
	opacity: 0;
}

.tl-post .time {
	color: #999;
	font-size: 11px;
	margin: 0 0 0 15px;
}

.tl-post:hover span.icon, .comments:hover span.icon {
	background-color: #3B3E40 !important;
	color: #fff !important;
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
}

.timeline:last-child {
	margin-bottom: 0;
}

.timeline span.icon {
	color: #fff;
	background: #208ed3;
	padding: 12px 0 0 0;
	font-size: 36px;
	line-height: 18px;
	width: auto;
	position: absolute;
	left: 0;
	display: block;
	text-align: center;
	height: 45px;
	width: 45px;
	border: 3px solid #fff;
	
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px
	
	box-shadow: 0 0 1px #ccc;
	-webkit-box-shadow: 0 0 1px #ccc;
	-moz-box-shadow: 0 0 2px #ccc;
	
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	-webkit-transition:all .5s ease-out;
	-moz-transition:all .5s ease-out;
	-ms-transition:all .5s ease-out;
	-o-transition:all .5s ease-out;
	transition:all .5s ease-out;
}

.timeline .comments span.icon {
	background: #e3e3e3;
	color: #3B3E40;
}

.timeline .comments p {
	background: #f7f7f7;
	border: 1px solid #e3e3e3;
	float: left;
	margin: 5px 0 0 0;
	padding: 10px 10px 75px 10px !important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
	position: relative;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.timeline .comments p strong {
	line-height: 30px;
}

.timeline .tl-post p {
	background: #f7f7f7;
	border: 1px solid #e3e3e3;
	float: left;
	margin: 5px 0 0 65px;
	padding: 10px;
	box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 -webkit-box-sizing: border-box;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	-webkit-transition:all .25s ease-out;
	-moz-transition:all .25s ease-out;
	-ms-transition:all .25s ease-out;
	-o-transition:all .25s ease-out;
	transition:all .25s ease-out;
}

.timeline .tl-post p:hover {
	margin-left:75px;
}

.timeline .tl-post .reply {
	background: #fff;
	border-top: 1px solid #e3e3e3;
	padding:10px;
	display: block;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px; 
}

.timeline .tl-post .reply input {
	margin: 0;
	color: #999;
}

.timeline .show-more {
	border: 1px solid #fff;
	position: absolute;
	bottom: 0;
	left: -25px;
}

.timeline .show-more a {
	display: block;
	padding: 8px;
	background: #f7f7f7;
	border: 1px solid #e3e3e3;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.timeline .show-more a:hover {
	background: #3B3E40;
	border: 1px solid #313131;
	color: #fff;
}

.cycle {
	margin: 25px;
	height: 260px;
}

.loading {
	height: 250px;
	width: 250px;
	margin: auto;
	background: url(../images/loading.gif) 50% 50% no-repeat;
}

/** TABLE STYLES **/

table#myTable input[type="checkbox"]{
	width: 30px;
	margin: 0;
}

table#myTable th:first-child {
	padding-left:50px;
}

table#myTable tr:nth-child(odd) {
	background:#f0f0f0;
}

table#myTable {
	border:1px solid #e9e9e9;
	width:100%;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

table#myTable thead tr {
	background: #ededee !important;
	background: -moz-linear-gradient(top, #ededee 0%, #dddddd 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededee), color-stop(100%,#dddddd)) !important; 
	background: -webkit-linear-gradient(top, #ededee 0%,#dddddd 100%) !important;
	background: -o-linear-gradient(top, #ededee 0%,#dddddd 100%) !important; 
	background: -ms-linear-gradient(top, #ededee 0%,#dddddd 100%) !important;
	background: linear-gradient(to bottom, #ededee 0%,#dddddd 100%) !important;
	border-bottom: 1px solid #fff;
}

table#myTable thead tr:hover {
	color: #000;
}

table#myTable tr {
	border:1px solid #e9e9e9;
	background:#fff;
}

table#myTable tr:hover {
	background: #208ed3; /* Old browsers */
	background: -moz-linear-gradient(top, #208ed3 0%, #0272bd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#208ed3), color-stop(100%,#0272bd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #208ed3 0%,#0272bd 100%); /* IE10+ */
	background: linear-gradient(to bottom, #208ed3 0%,#0272bd 100%); /* W3C */
	color:#fff;
	cursor:pointer;
}

table#myTable th {
	font-weight:bold;
	min-width:100px;
	padding: 15px 15px 0 15px;
	text-align: left;
}

table#myTable td {
	vertical-align: middle;
	padding: 15px;
}

table#myTable thead tr .header {
	background-image: url('../images/bg.gif');
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	height: 2em;
}

table#myTable thead tr .headerSortUp {
	background-image: url('../images/asc.gif');
}

table#myTable thead tr .headerSortDown {
	background-image: url('../images/desc.gif');
}

table#myTable thead tr .headerSortDown, table#myTable thead tr .headerSortUp {
	color: #208ed3;
}

table#myTable thead tr th.avatar {
	padding-left: 70px;
}

table#myTable td.avatar {
	line-height: 30px;
}

table#myTable td.avatar img {
	float: left;
	margin: 0 15px 0 0
}

/** LOGIN  **/

body.login {
	background: #3B3E40;
}

.login section {
	width: 300px;
	margin: 200px auto 0 auto;
	text-align: center;
}

.login section p a {
	color: #ccc;
}

.login section p {
	margin-top: 15px;
}

.login section h1 {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	margin-bottom: 15px;
	letter-spacing: -1px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.login section h1 span {
	font-weight: 600;
}

.login input {
	border: 1px solid #323537;
}

.login button {
	border: 1px solid #323537;
	width: 100%;
	margin: 0;
	font-weight: bold;
}

.login button:hover {
	color: #3B3E40;
	text-shadow: none;
	background: #ededee !important;
	background: -moz-linear-gradient(top, #ededee 0%, #dddddd 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededee), color-stop(100%,#dddddd)) !important;
	background: -webkit-linear-gradient(top, #ededee 0%,#dddddd 100%) !important;
	background: -o-linear-gradient(top, #ededee 0%,#dddddd 100%) !important;
	background: -ms-linear-gradient(top, #ededee 0%,#dddddd 100%) !important;
	background: linear-gradient(to bottom, #ededee 0%,#dddddd 100%) !important;
}

.login button.loading {
	background: #9bc747;
	border: 1px solid #323537;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	width: 100%;
	height: 35px;
	-webkit-transition: width .4s ease-in-out;
	-moz-transition: width .4s ease-in-out;
	-ms-transition: width .4s ease-in-out;
	-o-transition: width .4s ease-in-out;
	transition: width .4s ease-in-out;
	-webkit-background-size: 30px 30px;
	-moz-background-size: 30px 30px;
	background-size: 30px 30px;
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)), color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	-webkit-animation: animate-stripes 3s linear infinite;
	-moz-animation: animate-stripes 3s linear infinite;
}

/** IPHONE STYLE CHECKBOX **/

.jquery-checkbox {
	display: inline;
	font-size: 20px;
	line-height: 20px;
	cursor: pointer;
	cursor: hand;
}
.jquery-checkbox .mark {
	display: inline;
}

.jquery-checkbox img {
	vertical-align: middle;
	width: 75px;
	height: 30px;
}
.jquery-checkbox img{
	background: transparent url(../images/checkbox.png) no-repeat;
}

.jquery-checkbox img{
	background-position: 0px 0px;
}

.jquery-checkbox-hover img{
	background-position: 0px -30px;
}

.jquery-checkbox-checked img{
	background-position: 0px -60px;
}

.jquery-checkbox-checked .jquery-checkbox-hover img {
	background-position: 0px -90px;
}

.jquery-checkbox-disabled img{
	background-position: 0px -20px;
}

.jquery-checkbox-checked .jquery-checkbox-disabled img{
	background-position: 0px -150px;
}

/** WYSIWYG EDITOR **/

.field-wrap.wysiwyg-wrap {
	height:180px;
	position: relative;
}

.field-wrap.wysiwyg-wrap .wysiwyg {
	position: absolute;
}
/** Mobile **/
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
	
	body {
		padding-top: 130px;
		position: absolute;
		width: 100%;
		overflow-y: auto;
		overflow-x: hidden;
	}
	
	.testing {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1500;
	}
	
	nav {
		width: 215px;
		overflow: hidden;
		position: absolute;
		left: -215px;
		top:126px !important;
		z-index: 1000;
		
		box-shadow: 1px 0 rgba(0, 0, 0, 0.9);
		-webkit-box-shadow: 1px 0 rgba(0, 0, 0, 0.9);
		-moz-box-shadow: 1px 0 rgba(0, 0, 0, 0.9);
		
		transition:all .5s ease-in-out; 
	    -o-transition:all .5s ease-in-out; 
	    -moz-transition:all .5s ease-in-out; 
	    -webkit-transition:all .5s ease-in-out;
	}
	
	header.main, section.widget header {
		padding: 15px;
	}
	
	section.alert {
		height: auto !important;
		transition:all .5s ease-in-out; 
	    -o-transition:all .5s ease-in-out; 
	    -moz-transition:all .5s ease-in-out; 
	    -webkit-transition:all .5s ease-in-out;
	}
	
	section.content {
		margin: 20px 0 0 0;
		padding: 15px;
		
		transition:all .5s ease-in-out; 
	    -o-transition:all .5s ease-in-out; 
	    -moz-transition:all .5s ease-in-out; 
	    -webkit-transition:all .5s ease-in-out;
	}
	
	section.widget .content {
		padding: 15px;
	}
	
	.cycle {
		margin: 15px;
	}
	
	.widget .timeline {
		margin: 15px 15px 2px 35px;
	}
	
	section.alert div {
		margin: 15px 15px 15px 10px;
		transition:all .5s ease-in-out; 
	    -o-transition:all .5s ease-in-out; 
	    -moz-transition:all .5s ease-in-out; 
	    -webkit-transition:all .5s ease-in-out;
	}
	
	.widget-container .small:first-child, .widget-container .small {
		float: none;
		width: 100%;
		height: auto !important;
		transition:all .5s ease-in-out; 
	    -o-transition:all .5s ease-in-out; 
	    -moz-transition:all .5s ease-in-out; 
	    -webkit-transition:all .5s ease-in-out;
	}
	
	span.icon {
		font-size: 48px;
		transition:all .5s ease-in-out; 
	    -o-transition:all .5s ease-in-out; 
	    -moz-transition:all .5s ease-in-out; 
	    -webkit-transition:all .5s ease-in-out;
	}
	
	section.user .profile-img {
		display: none;
		transition:all .5s ease-in-out; 
	    -o-transition:all .5s ease-in-out; 
	    -moz-transition:all .5s ease-in-out; 
	    -webkit-transition:all .5s ease-in-out;
	}
	
	header input {
		width: 30%;
	}
	
	section.widget header span.icon, .button.dropdown, section.alert div span {
		display: none;
	}
	
	section.widget header hgroup {
		margin: 0;
	}
	
	button.ico-font {
		opacity: 1
	}
	
	section.user .buttons {
		left: 15px;
		right: auto;
	}
	
	.widget button {
		margin: 0 5px 10px 0;
	}
	
	section.alert div p {
		margin: 0;
	}
	
	section.alert button {
		right: 15px;
		margin: 5px 0 10px 5px;
		float: right;	
	}
	
	table tr th:nth-child(3),
	table tr th:nth-child(4),
	table tr th:nth-child(5),
	table tr th:nth-child(6),
	table tr th:nth-child(7),
	table tr th:nth-child(8),
	table tr th:nth-child(9),
	table tr td:nth-child(3),
	table tr td:nth-child(4),
	table tr td:nth-child(5),
	table tr td:nth-child(6),
	table tr td:nth-child(7),
	table tr td:nth-child(8),
	table tr td:nth-child(9) {
		display: none;
	}
	
	table#myTable th {
		min-width: 50px;
	}
	
	.gallery a {
		margin: 0 0 5px 0
	}
	
	.dropzone {
		padding: 8px !important;
	}
	
	body.login {
		padding-top: 50px;
	}
	
	.login section {
		width: 85%;
		margin: 0 auto 0 auto;
	}
	
	.login section h1 {
		font-size: 32px;
	}
	
}

/** iPad **/
@media only screen and (min-width : 768px) and (max-width : 1024px) {
	
	nav {
		width: 75px;
		overflow: hidden;
		
		transition:all .5s ease-in-out; 
	    -o-transition:all .5s ease-in-out; 
	    -moz-transition:all .5s ease-in-out; 
	    -webkit-transition:all .5s ease-in-out;
	}
	
	section.content {
		margin: 25px 0 0 40px;
		
		transition:all .5s ease-in-out; 
	    -o-transition:all .5s ease-in-out; 
	    -moz-transition:all .5s ease-in-out; 
	    -webkit-transition:all .5s ease-in-out;
	}
	
	section.alert div {
		margin: 15px 25px 15px 90px;
		transition:all .5s ease-in-out; 
	    -o-transition:all .5s ease-in-out; 
	    -moz-transition:all .5s ease-in-out; 
	    -webkit-transition:all .5s ease-in-out;
	}
	
	.gallery {
		padding: 10px !important;
	}
	
	.gallery a {
		margin: 10px !important;
	}
	
}

/** iPads (landscape) **/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	
	nav {
		width: 210px;
		overflow: visible;
		
		transition:all .5s ease-in-out; 
	    -o-transition:all .5s ease-in-out; 
	    -moz-transition:all .5s ease-in-out; 
	    -webkit-transition:all .5s ease-in-out;
	}
	
	section.content {
		margin: 25px 0 0 1%;
		
		transition:all .5s ease-in-out; 
	    -o-transition:all .5s ease-in-out; 
	    -moz-transition:all .5s ease-in-out; 
	    -webkit-transition:all .5s ease-in-out;
	}
	
	section.alert div {
		margin: 15px 25px 15px 235px;
		transition:all .5s ease-in-out; 
	    -o-transition:all .5s ease-in-out; 
	    -moz-transition:all .5s ease-in-out; 
	    -webkit-transition:all .5s ease-in-out;
	}
	
	.gallery {
		padding: 8px !important;
	}
	
	.gallery a {
		margin: 8px !important;
	}
	
}

/** Retina graphics **/
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) { 

	.jquery-checkbox img{
		background: transparent url(../images/checkbox-retina.png) no-repeat;
		background-size: 75px auto;
	}

	.loading {
		height: 250px;
		width: 250px;
		margin: auto;
		background: url(../images/loading-retina.gif) 50% 50% no-repeat;
		background-size: 75px !important;
	}

}

/**  ICON FONT PAGE  **/

ul.icon-fonts {
	overflow: hidden;
}

ul.icon-fonts li {
	width: 50px;
	text-align: center;
	float: left;
	margin: 0 25px 25px 25px;
}

ul.icon-fonts li .pictogram {
	font-family: "entypo";
	font-size: 60px;
}

ul.icon-fonts li .unicode {
	font-size: 14px;
	font-weight: bold;
}

ul.icon-fonts li .html {
	color: #999;
	font-size: 12px;
}